{% load static %}

<link href="https://fonts.googleapis.com/css?family=Knewave|Roboto+Condensed" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'history/style.css' %}" />

<h2>Music History </h2>

{% block content %}

{% if artist_list %}
    <ul>
    {% for artist in artist_list %}
        <li><a href="/history/{{ artist.id }}/">{{ artist.artist_name }}</a></li>
    {% endfor %}
    </ul>
    
    <h3>Add a new artist to your collection</h3>

    <form method='post'>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Save Artist">
    </form>

{% else %}
    <p>No artists are available.</p>
{% endif %}

{% endblock%}

