/* font-family: 'Knewave', cursive;
font-family: 'Roboto Condensed', sans-serif; */

li {
    list-style-type: none;
    list-style: none;
    font-family: 'Knewave', cursive;
}

li a {
    color: black;
    font-size: 2em;
    text-decoration: none;
    margin: 2%;
}
body {
    background: white url("images/background.gif") no-repeat;
}